In [1]:
for i in ['mango','apple','banana']:
    print(i)
print('hi')

mango
apple
banana
hi

In [2]:
counter=0
while counter<11:
    print(counter)
    counter=counter+1

0
1
2
3
4
5
6
7
8
9
10

In [3]:
customername = ['a','b','c']
orderid =['1','2','3']
for (c,o) in zip(customername,orderid):
    print (c,o)
print ("Hello")

a 1
b 2
c 3
Hello

In [4]:
coupoun_code=5
quantity=0
while quantity<6:
    print('total quantity left is:', coupoun_code-quantity)
    quantity=quantity+1
print('No code available')

total quantity left is: 5
total quantity left is: 4
total quantity left is: 3
total quantity left is: 2
total quantity left is: 1
total quantity left is: 0
No code available

In [5]:
marks=100
if marks<35:
        print('you failed the exam')
else:    
        print('you passed')

you passed

In [6]:
marks=95
if marks<=35:
    print('you failed the exam')
else:
    if marks>35 and marks<75:
        print('you passed')
    else:
        print('Excellent')

Excellent

In [7]:
marks=95
if marks<=35:
    print('you failed the exam')
elif marks>35 and marks<75:
        print('you passed')
else:
        print('Excellent')

Excellent

In [8]:
x=1

In [9]:
(x==3)

False

In [10]:
x==1

True

In [11]:
type(x)

int

In [12]:
x='ram'

In [13]:
type(x)

str

In [14]:
y =[1,2,3,4,5,6,7,8,9]

In [15]:
len(y)

9

In [16]:
for i in range(0,5,2):
    print('Hello python')
print('loop ends')

Hello python
Hello python
Hello python
loop ends

In [17]:
Student_List = ['Jack','James','Kate','Ben','Hugo']
Student_Id = ['MC-2543','BC-4574','MS-9128','BS-5394','MK-8565']
for (sl,si) in zip (Student_List,Student_Id):
    print('Hello',sl,',''Your Student ID is:',si)
print('end')

Hello Jack ,Your Student ID is: MC-2543
Hello James ,Your Student ID is: BC-4574
Hello Kate ,Your Student ID is: MS-9128
Hello Ben ,Your Student ID is: BS-5394
Hello Hugo ,Your Student ID is: MK-8565
end

In [18]:
x=0
while x < 10:
    print(x,"Hello World")
    x = x+1
print('Loop Ends')

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World
Loop Ends

In [19]:
x = 0.12355466
if x > 1:
    Answer = 'Greater than 1'
else:
    Answer = "Less than 1"
print(x)
print(Answer)

0.12355466
Less than 1

In [20]:
x = 0.123466
if x > 1:
    print('Greater than 1')
elif x >= -1 and x < 1:
    print("Between 1 and -1")
else:
    print('Less than 1')
print(x)

Between 1 and -1
0.123466

In [21]:
range(0,5)

range(0, 5)

In [22]:
list(range(5))

[0, 1, 2, 3, 4]

In [23]:
list1 = [1,2,3,4,5,6,7,8,9]

In [24]:
for i in list1:
    print(i,'Hi How are you')

1 Hi How are you
2 Hi How are you
3 Hi How are you
4 Hi How are you
5 Hi How are you
6 Hi How are you
7 Hi How are you
8 Hi How are you
9 Hi How are you