In [1]:
mylist = [10,20,30,40,50,60,70,80,90,100]

In [2]:
mylist

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [3]:
mylist[-6::1]

[50, 60, 70, 80, 90, 100]

In [4]:
type(mylist)

list

In [5]:
profit = [100,200,300,400,500]
sales = [10,20,30,40,50]

In [6]:
profit = [100,200,300,400,500]
sales = [10,20,30,40,50]
for p,s in zip(profit,sales):
    profit_ratio=int(p/s*100)
    print('profit ratio for sales',s,'in profit',p,'in the',profit_ratio)

profit ratio for sales 10 in profit 100 in the 1000
profit ratio for sales 20 in profit 200 in the 1000
profit ratio for sales 30 in profit 300 in the 1000
profit ratio for sales 40 in profit 400 in the 1000
profit ratio for sales 50 in profit 500 in the 1000

In [7]:
profitratio=[]
for i in range(0,len(sales)):
    profitratio.append(profit[i]/sales[i])
print(profitratio)

[10.0, 10.0, 10.0, 10.0, 10.0]

In [8]:
profit = [100,200,300,400,500]
sales = [10,20,30,40,50]
profitratio=[]
for i in range(0,5):
    profitratio.append(profit[i]/sales[i]*100)
print(profitratio)

[1000.0, 1000.0, 1000.0, 1000.0, 1000.0]

In [9]:
market_price = [100,120,140,160,180,200,220,240]
discount_price = [80,100,120,140,160,180,200,220]
discount_percentage=[]
for i in range(0,8):
    discount_percentage.append(market_price[i]/discount_price[i]*100)
print(discount_percentage)

[125.0, 120.0, 116.66666666666667, 114.28571428571428, 112.5, 111.11111111111111, 110.00000000000001, 109.09090909090908]

In [10]:
cost_price = [100,120,140,160,180,200,220,240]
selling_price = [120,150,170,195,240,275,292,320]
profit = []
loss = []
for i in range(0,len(cost_price)):
    profit.append(selling_price[i] - cost_price[i])
    loss.append(cost_price[i] - selling_price[i])
print(profit)
print(loss)

[20, 30, 30, 35, 60, 75, 72, 80]
[-20, -30, -30, -35, -60, -75, -72, -80]

In [11]:
len(cost_price)

8

In [12]:
mytuple = (10,20,30,40,50,60,60,70,80,90,100,100)

In [13]:
mytuple

(10, 20, 30, 40, 50, 60, 60, 70, 80, 90, 100, 100)

In [14]:
type(mytuple)

tuple

In [15]:
mytuple[5]

60

In [16]:
len(mytuple)

12

In [17]:
mytuple.count(100)

2

In [18]:
my_first_sets ={2,12,15,28,24,26,30,38,50,60}

In [19]:
my_first_sets

{2, 12, 15, 24, 26, 28, 30, 38, 50, 60}

In [20]:
my_first_sets.add(10)

In [21]:
my_first_sets

{2, 10, 12, 15, 24, 26, 28, 30, 38, 50, 60}

In [22]:
my_first_sets.update({3,6,9,14,16})

In [23]:
my_first_sets

{2, 3, 6, 9, 10, 12, 14, 15, 16, 24, 26, 28, 30, 38, 50, 60}

In [24]:
my_first_sets.discard(38)

In [25]:
my_first_sets

{2, 3, 6, 9, 10, 12, 14, 15, 16, 24, 26, 28, 30, 50, 60}

In [26]:
my_first_sets.clear()

In [27]:
my_first_sets

set()

In [28]:
del my_first_sets

In [29]:
my_first_dictionaries = {'student Name':'Vishal','student Id':'VA-1234566','Course':'data science'}

In [30]:
my_first_dictionaries

{'student Name': 'Vishal',
 'student Id': 'VA-1234566',
 'Course': 'data science'}

In [31]:
type(my_first_dictionaries)

dict

In [32]:
my_first_dictionaries['student Name']

'Vishal'

In [33]:
my_first_dictionaries['Course']='machine'

In [34]:
my_first_dictionaries

{'student Name': 'Vishal', 'student Id': 'VA-1234566', 'Course': 'machine'}

In [35]:
import numpy as np
x = np.array([14, 21, 24, 24])
y = np.array([12, 6, 23, 29])
z = np.array([x, y])
print(z.shape)

(2, 4)

In [36]:
import numpy as np
x = np.array([6, 4, 4, 4])
y = np.array([0, 3, 8, 7])
print(np.corrcoef(x, y))

[[ 1.         -0.81150267]
 [-0.81150267  1.        ]]